@page "/"

@using BlazorBootstrap

@inject IJSRuntime JSRuntime

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<Button Color="ButtonColor.Primary" @onclick="OnButtonClick">
    <SvgIcon Icon="LucideIcon.Info" />
    Click me
</Button>

<Button Color="ButtonColor.Danger" @onclick="ThrowError">
    <SvgIcon Icon="LucideIcon.OctagonX" />
    Throw error
</Button>

@code {
    private async Task OnButtonClick()
    {
        await JSRuntime.InvokeVoidAsync("alert", "Button clicked!");
    }

    private void ThrowError()
    {
        throw new Exception("This is a test exception.");
    }
}