@inherits LayoutComponentBase

@Body

<div id="blazor-error-ui" class="alert alert-danger alert-dismissible">
    <text>
        An error has occurred. This app may no longer respond until reloaded.
    </text>
    <a href="" class="reload alert-link">Reload</a>
    <button type="button" class="btn-close dismiss" data-bs-dismiss="alert" aria-label="Close"></button>
</div>