<nav class="sidebar d-flex flex-column flex-shrink-0 p-3 border-end bg-body-tertiary">
    <a href="/" class="d-flex align-items-center gap-2 mb-3 text-decoration-none text-body fw-semibold fs-5">
        DuckHouse
    </a>
    <hr class="my-1" />
    <ul class="nav nav-pills flex-column gap-1 mb-auto">
        <li>
            <NavLink class="nav-link text-body" href="" Match="NavLinkMatch.All">
                <SvgIcon Icon="LucideIcon.House" />
                Home
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link text-body" href="nodes">
                <SvgIcon Icon="LucideIcon.Server" />
                Nodes
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link text-body" href="notebook">
                <SvgIcon Icon="LucideIcon.Notebook" />
                Notebooks
            </NavLink>
        </li>
    </ul>
    <hr class="my-1" />
    <ul class="nav nav-pills flex-column gap-1">
        <li>
            <NavLink class="nav-link text-body" href="settings">
                <SvgIcon Icon="LucideIcon.Settings" />
                Settings
            </NavLink>
        </li>
    </ul>
</nav>
